<h1>Crie o seu campeonato</h1>
<h2>Campeonato <%= h @championship.name %></h2>

<%= render :partial => 'phases/phase', :collection => @championship.phases, :as => :phase %>

<%= link_to 'Voltar', championships_path %>
