<h2>Campeonato <%= h @championship.name %></h2>

<div class="championship">
	<%= @championship.winner if @championship.finished? %>
	<%= render :partial => 'phases/phase', :collection => @championship.phases, :as => :phase %>
</div>
<%= link_to 'Voltar', championships_path %>
