<h2><%= @championship.name%></h2>

<% form_tag :action => 'page_2'  do -%>
	<% (1..@num_teams.to_i).each do |t| -%>
		<p><%= text_field_tag "teams[#{t}]" %></p>
	<% end -%>
	
	<p>
		<%= submit_tag 'Próxima página' %>'
	</p>
<% end -%>

