<div class="phase">
	<p>Fase</p>	
		<% form_for(phase) do |f| %>
			<%= render :partial => 'matches/match', :collection => phase.matches, :as => :match %>
			<p>Fase <%= 'não' unless phase.done? %> concluída</p>
			<%= link_to 'Fechar', close_path(phase) %>
			<p><%= submit_tag 'Fechar fase' %></p>
		<% end %>
</div>
